version: "3.7"

services:
  cbbot:
    image: kgeronim/cbbot:latest
    depends_on:
      - timescaledb
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
    secrets:
      - cb_secret
      - cb_pass
      - cb_key
      - pg_user
      - pg_password
      - pg_database
    command: ["BTC-USD", "500", "65", "75", "-d", "--sandbox"]

  timescaledb:
    image: timescale/timescaledb:latest-pg11
    volumes:
      - data:/var/lib/postgresql/data
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER_FILE: /run/secrets/pg_user
      POSTGRES_PASSWORD_FILE: /run/secrets/pg_password
      POSTGRES_DB_FILE: /run/secrets/pg_database
    secrets:
      - pg_user
      - pg_password
      - pg_database

  adminer:
    image: adminer
    ports:
      - 8080:8080

volumes:
  data:

secrets:
  cb_secret:
    external: true
  cb_pass:
    external: true
  cb_key:
    external: true
  pg_user:
    external: true
  pg_password:
    external: true
  pg_database:
    external: true