version: "3.7"

services:
  cbbot:
    image: kgeronim/cbbot:latest
    depends_on:
      - timescaledb
    deploy:
      restart_policy:
        condition: any
    secrets:
      - cb_secret
      - cb_passphrase
      - cb_key
      - pg_password
    command: ["BTC-USD", "500", "25", "75", "--sandbox"]

  timescaledb:
    image: timescale/timescaledb:latest-pg11
    volumes:
      - data:/var/lib/postgresql/data
    ports:
      - 5432:5432
    environment:
      POSTGRES_PASSWORD_FILE: /run/secrets/pg_password
    secrets:
      - pg_password

  adminer:
    image: adminer
    ports:
      - 8080:8080

volumes:
  data:

secrets:
  cb_secret:
    external: true
  cb_passphrase:
    external: true
  cb_key:
    external: true
  pg_password:
    external: true